@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
body{
    background: #6cabc9; 
    font-family: 'Montserrat', sans-serif;
    color: #3E363F;
}
#contenedor{
    width: 900px;
    height: 500px;
    text-align: center;
    /* Estas 3 lineas se encargan de centrar el div vertical y horizontalmente */
    position: absolute;
    inset: 0;
    margin: auto;
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
#calculadora{
    background: rgb(224, 220, 220);
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
    margin: auto;
}

#detalle{
    background: #36aecc;
    /* Con estas 3 lineas vamos a hacer que los divs queden lado a lado */
    width: 50%;
    height: 100%;
    float: left;
}
    
.contenido{
        /* Estas tres lineas van a centrar el contenido verticalmente dentro de cada div */
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        overflow: hidden;
        padding: 40px;
        margin-top: 0px;
    }
.btn_calcular{
    border: none; 
    padding: 5px 30px; 
    background-color: #4872b4; 
    color: #f5f1f1; 
    text-transform: uppercase; 
    font-family: 'Montserrat', sans-serif; 
    font-size:x-small;
    border-radius: 30px;
}
.btn_calcular:hover{
    background-color: #4c88b6;
}
input{
    border: none;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    margin: 10%;
    padding: 10px;
    width: 50%;
    background-color: #b5c6d3;
    color: #2c3136;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 2%;
    text-align: center;
}
input:hover{
    background-color: #93bbdb;
}